<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail *ngFor="let c of data">
       <ion-label>
        <ion-text color="primary">       
          <h3>{{ c.name }}</h3>
        </ion-text>
        <p>{{ c.email }}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">{{ c.id }}</ion-badge> 
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>